<!DOCTYPE html>
<html lang="en">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/css1.css">
    <link rel="stylesheet" href="css/주문.css">
<th:block layout:fragment="css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
        .wrap{
            width: 600px;
            margin:auto;
        }
        .price{
            font-weight: normal;
            font-size: 16px;
            margin: 6px;
        }
        .orderBtn{
            width:100px;
            margin: 16px auto;
        }

        .mgb-15{
            margin-bottom:15px;
        }
        .mgt-30{
            margin-top:30px;
        }
        .mgt-50{
            margin-top:50px;
        }
        .repImgDiv{
            margin-right:15px;
            height:auto;
            width:50%;
        }
        .wd50{
            height:auto;
            width:50%;
        }
    </style>
    <script>
        function printName()  {
            const in1 = document.getElementById('in1').value;
            const in3 = document.getElementById('in3').value;
            const in2 = document.getElementById('in2').value;
            const in4 = document.getElementById('in4').value;
            const in5 = document.getElementById('in5').value;
            document.getElementById("confirm").innerText = in1,in2,in3,in4,in5;
}

function test(){
    var sign = document.getElementById("in1,in2,in3,in4,in5");
        var sign = confirm ("주문 하시겠습니까?");
 
        if (sign != true) {
            alert(sign.value+"주문이 완료되었습니다");
            location.href ="팔찌1.html";
 
            return false;
 
        } else {
            alert("주문이 되었습니다.");
            location.href ="팔찌1.html";
 
            return false;
 
        }
 
    }
    </script>
</th:block>
</head>
<body>
    <div data-ng-app="" data-ng-init="quantity=1;price=49300">
    <header>
    <a href="https://dooa369.github.io/dooa/%ED%99%88%ED%8E%98%EC%9D%B4%EC%A7%800.html">
        <img src="img/제목.png" alt="">
    </a>
    <table id="ta">
        <tr id="tr1">
            <td><a href="https://dooa369.github.io/dooa/%EB%A1%9C%EA%B7%B8%EC%9D%B8.html">로그인</a></td>
            <td>/</td>
            <td><a href="https://dooa369.github.io/dooa/%ED%9A%8C%EC%9B%90%EA%B0%80%EC%9E%85.html">회원가입</a></td>
        </tr><br>
    </table>
</header>
<nav>
    <ul id="topMenu">
        <li><a class="menuLink" href="상의.html">상의</a></li>
        <li><a class="menuLink" href="하의.html">하의</a></li>
        <li><a class="menuLink" href="겉옷.html">겉옷</a></li>
        <li><a class="menuLink" href="신발.html">신발</a></li>
        <li><a class="menuLink" href="팔찌.html">팔찌</a></li>
        <li><a class="menuLink" href="모자.html">모자</a></li>
    </ul>
</nav>
<section>
    <h1 style="color: white;">1</h1>
    <table border="1">
        <tr>
            <td id="td1"><img style="position: absolute; width: 500px; height: 500px; top: 180px;left: 380px;" id="vkf" src="img/11111.jfif" alt=""></td>
            <td id="td2">
                <div id="wn">
                <h1 id="h1">크로노스 CRJ2034B-WT 실버 유광 <br> 스틸 사각 체인팔찌 남자팔찌</h1>
            </span>가격 : 49,300 <br>
            <span id="sn1">수량 : </span>
            <input id="in" type="number" ng-model="quantity" onchange='printName()'><br>
            <span class="text-right" id="basic-addon1">주문자 이름 :</span>
            <input id="in1" style="width: 100px; height: 20px;" type="text" class="form-control" aria-label="default" aria-describedby="inputGroup-sizing-default"><span id="nameError" class="error"></span><br>

            <span class="text-right" id="basic-addon4">전화 번호 :</span>
            <input id="in3" onchange='printName()' style="width: 300px; height: 20px;" type="text" class="form-control" aria-label="default" aria-describedby="inputGroup-sizing-default"><br>

            <span class="text-right" id="basic-addon3">주소 :</span>
            <input id="in2" onchange='printName()' style="width: 300px; height: 20px;" type="text" class="form-control" aria-label="default" aria-describedby="inputGroup-sizing-default"><br>

            <span class="text-right" id="basic-addon5">상세 주소 :</span>
            <input id="in4" onchange='printName()' style="width: 300px; height: 20px;" type="text" class="form-control" aria-label="default" aria-describedby="inputGroup-sizing-default"><hr>

            <p><b>결제 금액 :</b> {{quantity * price}}</p>
            <span id="qjxms">
        <div th:if="${item.itemSellStatus.toString().equals('SELL')}" class="text-right">
            <title id="in5" onchange='printName()'>
                Awesome Css3 Hover EFfect - 3D Button Hover Effect - CSS 3D transform animation [Subscribe]
            s</title>
        </head>
        <body>
            <div class="center" id="name4" onchange='sayHello()'>
                <a id="size" href="#" onclick="sayHello()"><span id="login-form-submit" data-attr="주문">주문</span><span id="login-form-submit" data-attr="하기">하기</span></a>
            </div>
            </span>
        </div>
        </div>
        </td>
        </tr>
    </table>
</section>
</div>
</div>
</body>
</html>